* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #132fcf91;
}

/* Body Styles Start */
body {
    color: whitesmoke;
    background-color: var(--background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Body Style End */

section {
    margin: 10px auto;
}


/* Header Styles Start */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    margin-bottom: 5px;
}

header nav ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 2.5vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header nav ul li a:hover {
    text-shadow: none;
    color: var(--background);
    background: whitesmoke
}

header a {
    text-decoration: none;
    color: whitesmoke;
}
/* Header Styles End */

/* Hero Styles Start */
.hero {
    background-image: url('../Assets/Images/pexels-claudia-schmalz-5953634.jpg');
    background-size: cover;
    height: 300px;
    width: 100%;
}
.hero h3 {
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.753);
    font-size: larger;
}
 
/* Hero Style End */

/* About Me Styling Start */
.about-me {
    display: flex;
    text-align: center;
}
.about-me-info {
    display: flex;
    width: 80%;
}
.about-me-info h4 {
    font-size: 18px;
}
.about-me-img {
    display: flex;
    margin-left: 5px;
}

.about-me h2 {
    text-align: center;
    border-right: 3px solid rgba(0, 0, 0, 0.5);
}

.about-me h4 {
    background:rgba(0, 0, 0, 0.356);
}

.about-me-img img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    margin: 0 auto
}

/* About Me Styles End */

/* Works Styles Start */

.my-works {
    display: flex;
    text-align: center;
}

.runbuddy {
    background-image: url("../Assets/Images/RunBuddyimg.jpg");
}

.moviesearch {
    background-image: url("../Assets/Images/moviesearch.JPG");
}

.thatoneanswer {
    background-image: url("../Assets/Images/HomePage.jpeg");  
}

.verycool {
    background-image: url("../Assets/Images/veryc.jpeg");
}

.realthing {
    background-image: url("../Assets/Images/Real.jpeg");
}

.works-grid-wrapper {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: left;
}

.works-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.works-grid-container a {
    text-decoration: none;
    color: whitesmoke;
}

.works-grid-item {
    padding: 50px;
    background-size: cover;
    border: 2px solid rgba(0, 0, 0, 0.356);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.works-grid-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.works-grid-item.runbuddy {
    grid-column: 1/ span 2;
    grid-row: 1/span 2;

}



/* Contact Info Styles Start */

.contact-info {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    background-color:rgba(10, 32, 131, 0.356)
}

.contact-info h2 {
    text-align: center;
}

.contact-info a {
    text-decoration: none;
    color: whitesmoke;
}

/* Contact Info Styles End */


@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 20px;
    }
}

@media screen and (max-width: 575px) {
    .about-me {
        display: block;
    }
    .about-me-info {
        width: 100%;
    }
    .works-grid-container a.wow {
        text-shadow: 0 0 5px rgba(0,0,0, 1);
        text-align: start;
    }
}