* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #132fcf91;
}

/* Body Styles Start */
body {
    color: whitesmoke;
    background-color: var(--background);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Body Style End */

section {
    margin: 10px auto;
}


/* Header Styles Start */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    margin-bottom: 5px;
}

header nav ul {
    margin-top: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
header nav ul li a:hover {
    text-shadow: none;
    color: var(--background);
    background: whitesmoke
}

header a {
    text-decoration: none;
    color: whitesmoke;
}
/* Header Styles End */

/* Hero Styles Start */
.hero {
    background-image: url('../Assets/Images/pexels-claudia-schmalz-5953634.jpg');
    background-size: cover;
    height: 300px;
}

/* Hero Style End */

/* Works Styles Start */
.runbuddy {
    background-image: url("../Assets/Images/RunBuddyimg.jpg");
}

.project3000 {
    background-image: url("../Assets/Images/RunBuddyimg.jpg");
}

.wow {
    background-image: url("../Assets/Images/RunBuddyimg.jpg");  
}

.verycool {
    background-image: url("../Assets/Images/RunBuddyimg.jpg");
}

.realthing {
    background-image: url("../Assets/Images/RunBuddyimg.jpg");
}

.works-grid-wrapper {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: left;
}

.works-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.works-grid-item {
    padding: 50px;
    border: 2px solid rgba(0, 0, 0, 0.356);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.works-grid-item.runbuddy {
    grid-column: 1/ span 2;
    grid-row: 1/span 2;
}

/* About Me Styling Start */
.about-me {
    display: flex;
    text-align: center;
}
.about-me-info {
    display: flex;
    width: 80%;
}
.about-me-img {
    display: flex;
}

.about-me h3 {
    text-align: center;
    
}

.about-me-img img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    margin: 0 auto
}

.contact-info {
    display: flex;
    justify-content: space-around;
}

.contact-info a {
    text-decoration: none;
    color: whitesmoke;
}


@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {
    .about-me {
        display: block;
    }
    .about-me-info {
        width: 100%;
    }
}